<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body id="body">
  <header class="heading">
    <h1><%= @user.name %> 's Profile</h1>
    </header>
    
    <div class="userContainer">
    <img src="<%= @user.photo %>" alt="user profile"/>
  <div class="userCard">
  <h2><%= @user.name %> </h2>
  <p>Number of Posts: <%= @user.posts.count %></p>
  </div>
  </div>
  
  
  <p class="bioSection">
  <strong>Bio:</strong> 
  <span><%= @user.bio %> <span>
  </p>
  
  <% @recent_posts.each do |post| %>
    <p class="bioSection">
      <strong><%= post.title %></strong>
      <span><%= post.text %></span>
      <i>comments:  likes:</i>
    </p>
  <% end %>
    
  <p class="footer">
  <span>
  <%= link_to "All Posts", user_posts_path(@user) %>
  </span>
  <a href="/">back to home</a>
  </p>
    
</body>
</html>
