<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1><%= @user.name %> 's Profile</h1>
  </header>

  <p>Number of Posts: <%= @user.posts.count %></p>
  
  <p><strong>Bio:</strong> <%= @user.bio %></p>
  
  <h2>Recent Posts:</h2>
  <% @recent_posts.each do |post| %>
    <div>
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
    </div>
  <% end %>
    
  <p><%= link_to "All Posts", user_posts_path(@user) %></p>
  
  <li><a href="/">back to home</a></li>
    
  <footer>
    <p>&copy; 2022 My Blog. All rights reserved.</p>
  </footer>
</body>
</html>
