<!DOCTYPE html>
<html>
<head>
  <title><%= @post.title %></title>
</head>
<body>
  <h1><%= @post.title %></h1>

  <p><%= @post.text %></p>

  <p><strong>Author:</strong> <%= @post.author.name %></p>

  <p><strong>Likes:</strong> <%= @post.likes_count %></p>
  
  <p><strong>Comments:</strong> <%= @post.comments_count %></p>

  <h2>Comments:</h2>
  <% @post.ordered_comments.each do |comment| %>
    <div>
      <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
    </div>
  <% end %>

  <p><%= link_to "Back to All Posts", user_posts_path(@post.author_id) %></p>
  
</body>
</html>
